body {
    background-color: antiquewhite;

    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 100%;

    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 10em;
    height: 2.5em;

    margin: 0.5em;

    border-radius: 1em;

    font-size: larger;
}

button:hover {
    background-color: rgb(228, 223, 223);
}

#add-button {
    width: 10em;
    height: 2.5em;

    margin: 0.5em;

    border-radius: 1em;

    background-color: rgb(171, 211, 131);

    font-size: small;
    font-weight: bold;
}

#add-button:hover {
    background-color: rgb(136, 172, 102);
}

#back-button, .delete-button {
    width: 10em;
    height: 2.5em;

    margin: 2em;

    border-radius: 1em;

    font-size: small;
    font-weight: bold;
}

#notes-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

textarea {
    width: 50vw;
    height: 10em;

    padding: 1em;

    border-radius: 1em;

    resize: none;
}

textarea:disabled {
    background-color: white;
}