body {
    background-color: antiquewhite;

    padding: 0;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
}

#content {
    width: 100%;

    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 10em;
    height: 2.5em;

    margin: 0.5em;

    border-radius: 1em;

    font-size: larger;
}